.users-container {
    background-color:#efa623;
    height: 700px;
    padding: 25px;
}

button {
    display: flex;
    margin-left: 15px;
    background-color: blue;
    border-radius: 5px;
}

button:hover {
    background-color: greenyellow;
}